<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="#" />
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono:wght@100&family=Teko:wght@300&display=swap" rel="stylesheet"> 

        
    </head>


<body>

    <ul>
        <li><img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image" /></a></li>
        <li>
            <% if (user) { %>
                <a href="/logout">Log Out</a>
                <% } else { %>
                <a href="/auth/google">Login with Google</a>
                <% } %>
        </li>
        
        <li>
            <a href="/user">My Profile</a>
        </li>
        <li>
            <a href="/posts">Return</a>
        </li>
        
    </ul>

    <h1>Welcome to Fidget!</h1>
    <h2>The side bar of the internet!</h2>
    
    
    <table>
        <thead>
            <th>Post</th>
           
        </thead>
        <tbody>
        
              <tr>
                  <td><%= post.title %></td>
                  
                  
              </tr>
           
        </tbody>
        <table>
            <thead>
                
                <th>Content</th>
            </thead>
            <tbody>
            
                  <tr>
                      
                      <td><%= post.content %></td>
                      
                  </tr>
               
            </tbody>
    </table>


        <form action='/posts/<%= post._id %>?_method=DELETE' method="POST" class="delete-form"> 
            <button type="submit">Delete Post</button>
        </form>
        

    <h3>Leave a comment!</h3>
    <form id='add-comment-form' method='POST' action='/posts/<%= post._id %>/comments'>
        <label>Comment:</label>
        <textarea name='content'></textarea>
        <div class="center">
        <input type='submit' value='add comment'>
        </div>
    </form>
    <% if (post.comments.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <% post.comments.forEach(function(c) { %>
                    <tr>
                        <td><%= c.content %> 
                            
                            
                        </td>
                    </tr>
               <% }); %>
            </tbody>
        </table>
   <% } else { %>
    <h4>No Comments Yet!</h4>
    <h3>Add a comment why don't ya!</h3>
   <% } %>

    </body>
</html>